.cardNews {
    width: 44rem;
    height: 30rem;
    padding: 1.5rem;
    box-shadow: -10px -5px 5px lightgray ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(221, 245, 248);
    flex-wrap: wrap;
    margin: 2rem;
   
}

.cardNews:before {
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    border-bottom: 80px solid white;
    border-left: 80px solid rgb(221, 245, 248);
    width: 0;
    

}



.card-img-top{
    width: 18rem;
    height: 10rem;
    position: absolute;
    z-index: 2;
    top: -60px; 
    align-self: center;
    padding-left: 2rem;
   
}

.card-title {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}


.card-body {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: medium;
   
}

.button {
    
    padding-right: 3rem;
}

.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}



