.card {
    width: 44rem;
    height: 36rem;
    padding: 1.5rem;
    box-shadow: -10px -5px 5px lightgray ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(232, 241, 244);
    flex-wrap: wrap;
    margin: 2rem;
}

.card:before {
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    border-bottom: 80px solid white;
    border-left: 80px solid rgb(232, 241, 244);
    width: 0;
    

}


.card-img-top{
    width: 18rem;
    height: 10rem;
    position: absolute;
    z-index: 2;
    top: -60px; 
    align-self: center;
    padding-left: 2rem;
   
}



.card-body {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: medium;
    
}


