.products-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
  


}



.out-title {
    font-size: 5rem;
    font-weight: 600;
    padding-bottom: 4rem;
    text-transform: uppercase;

}




@media screen and (max-width: 600px) {
    .products-right {
        flex-direction: column;
    
    }
    
}